.sidebar {
    height: inherit;
    width: 256px;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.4s ease;

    &.isSmall {
        width: 64px;
    }

    .sidebarContainer {
        width: 100%;
        border-right: 1px solid #ccc;
        height: 100%;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        background-color: white;
        transition: 0.4s ease;
        position: absolute;
        z-index: 2;

        &.isSmall {
            // padding: 0 10px;
            width: 64px;
        }

        .logo {
            display: flex;
            align-items: center;
            margin-top: 40px;
            margin-bottom: 18px;
            font-weight: bold;

            h1 {
                font-size: 26px;
            }
            .dot {
                font-size: 34px;
                padding-bottom: 5px;
                color: #0095f6;
            }
        }
        .logoSm {
            display: none;
        }
        .item {
            padding: 14px 0;
            font-size: 16px;
            font-weight: 400;
            cursor: pointer;
            display: flex;
            align-items: center;
            width: 100%;

            .searchItem,
            .notify {
                display: flex;
                align-items: center;
            }

            img {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                object-fit: cover;
            }

            .title {
                margin-left: 16px;
                flex-wrap: nowrap;
                // transition: 0.7s ease;

                &.titleSmall {
                    //  display: none;
                    opacity: 0;
                    transition: 0.3s ease;
                }
            }

            .titlePresonal {
                margin-left: 12px;
            }

            .icon {
                font-size: 20px;
            }
        }

        .content {
            list-style: none;
            padding: 0;
        }

        .link {
            text-decoration: none;
            color: #000;
            display: flex;
            align-items: center;

            //   transition: 1s ease;
        }

        .active {
            color: #000;
            font-weight: bold;
        }

        .more {
            display: flex;
            align-items: center;
            margin-bottom: 26px;
        }
    }
}

.popperContent {
    width: 215px;
    background-color: #dfdfdf;
    .popperItem {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        border-radius: 0;
        .popperIcon {
            font-size: 16px;
        }

        &:hover {
            background-color: #f5f5f5;
            cursor: pointer;
        }
    }

    .divider {
        border: 0;
        border-bottom: 1px solid #cccc;
    }
}

//Responsive

@media only screen and (min-width: 768px) and (max-width: 1350px) {
    .sidebar {
        width: 64px;

        .sidebarContainer {
            .logoXl {
                display: none;
            }

            .logoSm {
                display: block;
            }
        }

        .title {
            opacity: 0;
        }
    }
}

@media only screen and (max-width: 767px) {
    .sidebar {
        height: 64px;
        width: 100%;
        position: fixed;
        bottom: 0;
        top: auto;
        left: 0;
        transition: 0.4s ease;

        &.sidebarSm {
            position: fixed;
            bottom: 0 !important;
        }

        .sidebarContainer {
            display: flex;
            flex-direction: row;
            align-items: center;
            .contentTop {
                width: 100%;
                .item {
                    width: auto;
                }
            }
            .logoXl {
                display: none;
            }

            .logoSm {
                display: none;
            }

            .title {
                display: none;
            }

            .content {
                display: flex;
                justify-content: space-around;
            }

            .itemMore {
                width: auto;

                .more {
                    margin-bottom: 0;
                }
            }
        }
    }
}
