.post {
    display: flex;
    // flex-direction: column;
    .postContainer {
        padding: 10px;
        width: 100%;

        .info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 16px;

            .infoWrapper {
                display: flex;

                .avatar {
                    width: 36px;
                    height: 36px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                div {
                    display: flex;
                    flex-direction: column;
                    margin-left: 12px;
                    line-height: 1.5;

                    .nickname {
                        font-size: 16px;
                        font-weight: 500;
                    }

                    .createAt {
                        font-size: 13px;
                        color: #8e8e8e;
                    }
                }
            }

            .menu {
                i {
                    font-size: 16px;
                    margin-left: 8px;
                    padding: 6px;
                    cursor: pointer;
                }
            }
        }

        .img {
            width: 500px;
            max-height: 400px;
        }

        .option {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 6px;
            .optionLeft {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100px;

                i {
                    font-size: 18px;
                }
            }

            .optionRight {
                i {
                    font-size: 18px;
                }
            }
        }

        .like {
            font-size: 14px;
            font-weight: bold;
        }

        .status {
            font-size: 14px;
            font-weight: 600;
            color: #262626;
            line-height: 1.5;
        }

        .comment {
            font-size: 14px;
            color: #8e8e8e;
        }

        .inputComment {
            display: flex;
            height: 32px;
            border: 1px solid transparent;
            position: relative;
            z-index: 0;

            input {
                width: 100%;
                height: 100%;
                outline: none;
                border: 1px solid transparent;
            }
            &:focus-within {
                border-bottom: 1px solid #ccc;
            }

            .emoji {
                background-color: transparent;
                border: 1px solid transparent;
                font-size: 18px;
                cursor: pointer;
            }

            .EmojiPickerReact {
                width: 350px;
                position: absolute;
                right: 0;
                top: 44px;
                z-index: 2;
            }
        }
    }
}
